@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Lemon&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-1: #deded6;
  --primary-color-2: #202127;
  --primary-color-3: #26282f;
}

@layer utilities {
  .bg-prim-2 {
    background-color: var(--primary-color-2);
  }
  .bg-prim-3 {
    background-color: var(--primary-color-3);
  }
}

@layer utilities {
  .text-prim-1 {
    color: var(--primary-color-1);
  }
}

@layer utilities {
  .text-2xxl {
    font-size: 1.6rem;
    line-height: 1;
  }
  .text-3xxl {
    font-size: 1.77rem;
    line-height: 1;
  }
  .text-4xxl {
    font-size: 2.45rem;
    line-height: 1;
  }
  .text-5xxl {
    font-size: 3.45rem;
    line-height: 1;
  }
}

@layer utilities {
  .w-144 {
    width: 30rem;
  }
  .w-192 {
    width: 36rem;
  }
}

@layer utilities {
  .leading-sm {
    line-height: 1.25 !important;
  }
}

.a-enter-vr-button {
  display: none;
}
