@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Lemon&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-1: #deded6;
}

@layer utilities {
  .text-prim-1 {
    color: var(--primary-color-1);
  }
}

@layer utilities {
  .text-4xxl {
    font-size: 2.45rem;
    line-height: 1;
  }
  .text-5xxl {
    font-size: 3.45rem;
    line-height: 1;
  }
}

@layer utilities {
  .w-144 {
    width: 30rem;
  }
}
