@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-1: #fbb02d;
}

@layer utilities {
  .bg-prim-1 {
    background-color: var(--primary-color-1);
  }
}

#myScene {
  width: 800px;
  height: 600px;
}
