@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Lemon&display=swap");

:root {
  --primary-background-color: #1b1b1f;
  --secondary-background-color: #f9f9fa;
  --primary-color-1: #deded6;
  --primary-color-2: #202127;
  --primary-color-3: #26282f;
  --primary-color-4: #2b2f36;
  --primary-color-5: #ce4a00;
  --primary-color-6: #15803d;
}

html {
  /* the first color is the thumb (scroll) and the second color is the background */
  scrollbar-color: var(--primary-color-1) var(--primary-color-4);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word; /* For very long words */
  font-family: "League Spartan", sans-serif;
}

#root {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
}
